.footer {
  margin: 50px 170px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-top-left p {
  font-size: 20px;
  max-width: 400px;
}

.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
}

.footer-email-input {
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 50px;
  background: #32323b;
  padding-right: 80px;
}

.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 18px;
}

.footer-subscribe {
  font-size: 20px;
  padding: 22px 50px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  cursor: pointer;
  transition: transform 0.3s;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  width: 100%;
}

.footer-bottom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.footer-email-input:hover {
  border: 2px solid white;
}

.footer-subscribe:hover {
  transform: scale(1.1);
}

/* Responsive for medium screens */
@media (max-width: 992px) {
  .footer {
    margin: 50px 100px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .footer-top-left p {
    font-size: 18px;
    max-width: 100%;
    text-align: center;
  }

  .footer-top-right {
    gap: 25px;
    justify-content: center;
  }

  .footer-email-input {
    padding: 15px 20px;
    padding-right: 60px;
    gap: 20px;
  }

  .footer-email-input input {
    font-size: 16px;
  }

  .footer-subscribe {
    padding: 18px 40px;
    font-size: 18px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-bottom-right {
    gap: 30px;
  }
}

/* Responsive for small screens */
@media (max-width: 768px) {
  .footer {
    margin: 30px 30px;
  }

  .footer-top {
    gap: 30px;
  }

  .footer-top-left p {
    font-size: 16px;
    text-align: center;
  }

  .footer-email-input {
    padding: 10px 15px;
    padding-right: 50px;
    gap: 15px;
  }

  .footer-email-input input {
    font-size: 18px;
  }

  .footer-subscribe {
    padding: 15px 30px;
    font-size: 16px;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
    font-size: 16px;
  }

  .footer-bottom-right {
    gap: 20px;
    margin-bottom: 20px;
  }
}

/* Extra small screens */
@media (max-width: 576px) {
  .footer {
    margin: 20px;
    gap: 20px;
  }

  .footer-top-left p {
    font-size: 14px;
  }

  .footer-email-input {
    padding: 10px;
    padding-right: 40px;
    gap: 10px;
  }

  .footer-subscribe {
    padding: 10px 20px;
    font-size: 14px;
  }

  .footer-bottom-right {
    gap: 15px;
  }
}
